@import "./variable";
@import "./tooltip";

$primary-color: #0a2463;
$button-color: #233a73;
$selected-color: #0a2463;
$header-icon-color:#0a2463c4;
$pondlogs-background-color: #ecf3f9;
$icon-xl-width: 60px;
$icon-md-width: 30px;
$number-xl-font-size: 50px;
$number-md-font-size: 25px;
$search-input-size: 180px;
$date-picker-size: 180px;
$vw_1_width: 992px;
$vw_2_width: 1365px;
$vw_3_width: 1920px;
$font_size_1: 12px;
$font_size_2: 14px;
$font_size_3: 24px;
$app_font_size_v_small: 8px;
$app_font_size_v_medium: 10px;
$app_font_size_small: 11px;
$app_font_size_1: 13px;
$app_font_size_2: 16px;
$app_font_size_3: 20px;
$app_font_size_xl: 24px;
$font_weight_header: 600;
$highcharts-axis-stroke-color: #233a73;
$highcharts-axis-title-color: #333333;
$light-color: #f0f0f0;
$hover-color: #f4f5f9;