@mixin password-validation-mixin {
    .password-validations-container {
        flex-direction: column;
        display: flex;
        justify-items: flex-start;
        &.bottom-space{
            margin-bottom:10px
        }
        .header {
            opacity: 0.6;
            font-weight: bold;
            font-size: 9px;
            text-align: left;
        }
        .validation-rules {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            .validation-rules-row {
                display: flex;
                flex-basis: 33.33%;
                flex-direction: column;
                text-align: left;
                @include responsiveProperty(font-size, 9px, 9px, 9px);
                position: relative;
                line-height: 2;
                color: #606266;
                list-style: none;

                .title {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-items: center;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    &:before {
                        content: "\25ef";
                        margin-right: 5px;
                    }
                }
                &.is-checked {
                    .title {
                        font-weight: 700;

                        &:before {
                            content: "\2B24";
                            margin-right: 5px;
                            color: green;
                        }
                    }
                }
            }
        }
    }
}